<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="estilo.css" type="text/css" />
    </head>
    <body>
        <div id="site">
            <div id="sombra">
                <div id="topo">
                    <div id="nome-do-site">Site em PHP</div>
                </div>
                <div id="main-wrapper">
                    <div id="menu">
                        <ul>
                            <li><a href="#">item 1</a></li>
                            <li><a href="#">item 2</a></li>
                            <li><a href="#">item 3</a></li>
                            <li><a href="#">item 4</a></li>
                        </ul>
                    </div>
                    <div id="conteudo">
                    </div>
                </div>
            </div>
        </div>
        <div id="rodape">
            Site criado no curso de PHP para iniciantes da <a href="http://www.iparos.com.br" target="_blank">Íparos</a>
        </div>
    </body>
</html>
